*{
  font-family: Helvetica, sans-serif;
}

/* header */

/* top */
header ._top{
  background-color: black;
  height: 30px;
}

header ._top img{
  width: 70px;
  margin-right: 5px;
}
/* /top */

/* bottom */
._bottom{
  line-height: 50px;
}

header ._row{
  margin: 10px 0;
}

.btn-group:not(.float-end .btn-group){
  margin-left: 20px;
  float: left;
}

.btn-group button{
  background-color: white;
  color: black;
  border: none;
}

header ._bottom div.btn-group > button{
  font-size: 1.15vw;
}

.dropdown-toggle::after{
  display: none;
}

.btn-group ul{
  width: 100vw;
  text-align: center;
}

.btn-group ul li{
  width: 15%;
  display: inline-block;
}

.btn-group ul li img{
  width: 100%;
}

.btn-group img{
  width: 10px;
}

.btn-group button:hover{
  background-color: white;
  color: #1B70D1;
}

.btn-group button:focus{
  background-color: white;
  color: #1B70D1;
  border: none;
}

.btn-group button i{
  font-size: 10px;
}

#chevron_hover{
  display: none;
}

header .fa-chevron-up{
  display: none;
}

.btn-group button:hover #chevron{
  display: none;
}

.btn-group button:hover #chevron_hover{
  display: inline-block;
}

.btn-group button:focus #chevron{
  display: none;
}

.btn-group button:focus #chevron_hover{
  display: none;
}

.btn-group button:focus .fa-chevron-up{
  display: inline-block;
}

header ._right > div{
  margin-left: 20px;
}

.padding_-{
  line-height: 40px;
  background-color: #363636;
  padding: 0px 3px;
  border-radius: 25px;
}

header ._bottom ._btn{
  padding: 8px 15px;
  border-radius: 25px;
  color: white;
  text-decoration: none;
}

header ._bottom .padding_-:hover ._btn{
  border: 2px solid white;
}

header ._bottom .padding_-:hover{
  margin-left: 16px;
  background-color: #5C636A;
}

header ._bottom .float-end a > img{
  width: 20px;
  margin: 0 20px;
}
/* bottom */

/* header */


